html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.page {
    display: flex;
    min-height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.editor {
    position: relative;
    width: 500px;
    height: 500px;
}

.pane {
    position: relative;
}

.control-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.control-point {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
}

.control-point__button {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #00000055;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}

.control-point__button.active {
    background-color: #ffffff;
    border-color: #000;
}

.tangent {
    top: 2px;
    left: 2px;
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    background-color: #000;
    border: 1px solid white;
    cursor: pointer;
}

/* Sidebar */

.sidebar {
    width: 200px;
}

/* Inspector */
.inspector {
    margin-top: 40px;
    max-height: 160px;
    background-color: darkslategrey;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 16px;
    border-radius: 5px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
